.tag {
  --tag-font-size: 1rem;
  
  --tag-color: var(--logo-primary);
  --tag-text-color: white;
  
  --tag-height: 30px;
  
  --x-padding: 20px;
  --left-margin: 10px;
  --top-margin: 20px;
  
  @media only screen and (max-width: 1007px) {
    --tag-height: 25px;
    --tag-font-size: 0.75rem;
    --x-padding: 10px;
    --left-margin: 5px;
    --top-margin: 10px;
  }
  
  @media only screen and (max-width: 640px) {
    --tag-height: 20px;
    --tag-font-size: 0.65rem;
    --x-padding: 5px;
    --left-margin: 3px;
    --top-margin: 5px;
    
  }

}