@import '../tagStyles.module.scss';

.tag {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: var(--tag-height);
  width: max-content;
  margin-top: var(--top-margin);

  .tagSpikes {
    width: var(--tag-height);

    svg {
      fill: var(--tag-color);
    }
  }

  .wordSpan {
    background-color: var(--tag-color);
    color: var(--tag-text-color);
    padding: 0 var(--x-padding);
    display: flex;
    align-items: center;
    font-size: var(--tag-font-size);
  }
}