.starRating {
  --star-color: var(--star-yellow);
  --background-star-color: lightgray;
  --star-size: 1.5rem;
  --font-size: 1rem;

  @media only screen and (max-width: 1007px) {
    --font-size: 0.85rem;
  }

  @media only screen and (max-width: 640px) {
    --font-size: 0.75rem;

  }

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .starIcons {
    display: flex;
    flex-wrap: nowrap;
  
    .fullStar {
      .iconify {
        font-size: var(--star-size);
        color: var(--star-color);
      }
    }
  
    .partStar {
      @extend .fullStar;
  
      position: relative;
  
      div {
        overflow: hidden;
        position: absolute;
        top: 0;
      }
  
      & > .iconify {
        color: var(--background-star-color);
      }
    }
  
    .grayStar {
      @extend .fullStar;
      .iconify {
        color: var(--background-star-color);
      }
    }
  }

  .ratingInfo {
    display: flex;
    flex-wrap: nowrap;
    font-size: var(--font-size);

    span {
      color: var(--text-dark);
    }

    a {
      white-space: nowrap;
    }
  }
}

