@import '../Image/styles.module.scss';

.productCard {
  --font-size: 1rem;

  @media only screen and (max-width: 1007px) {
    --font-size: 0.75rem;
  }

  display: inline-block;
  overflow: hidden;

  .imgDiv {

    margin-bottom: max(15px, min(1.5vw, 20px));

    & > div:nth-child(1) {
      overflow: hidden;

      img {
        transition: transform 0.2s ease-in;
        transform: scale(1.1);
      }
    }

    & > div:nth-child(2) {
      transition: opacity 0.2s ease-in;
      opacity: 1;
    }

    &:hover {
      & > div:nth-child(1) {
        img {
          transform: scale(1);
          transition: transform 0.2s ease-in;
        }
      }

      & > div:nth-child(2) {
        transition: opacity 0.2s ease-in;
        opacity: 0;
      }
    }
  }

  .titleRating {
    text-align: center;
    width: var(--img-width);

    .heading {
      font-size: var(--font-size);
      font-weight: var(--font-weight-medium);
      color: var(--text-dark);
      margin-bottom: 5px;
    }
  }
}