.newTag {
  --new-tag-height: 30px;
  --new-tag-font-size: 1.2rem;
  
  --new-tag-color: var(--logo-primary);
  --new-tag-text-color: white;
  
  @media only screen and (max-width: 1007px) {
    --new-tag-height: 25px;
    --new-tag-font-size: 1rem;
  }

  padding: 0 55px;
  position: absolute;

  top: max(30px, min(5vw, 35px));
  left: max(30px, min(5vw, 35px));
  transform: translate(-50%, -50%) rotate(-45deg);

  display: flex;
  align-items: center;

  height: var(--new-tag-height);
  width: max-content;

  font-size: var(--new-tag-font-size);

  background-color: var(--new-tag-color);
  color: var(--new-tag-text-color);
}