@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Parisienne&display=swap');

// font family rules to specify
//  font-family: 'Montserrat', sans-serif;
//  font-family: 'Parisienne', cursive;

// .flex-1 {
//   flex: 1;
// }

// .w-full {
//   width: 100%;
// }

// .overflow-y-auto {
//   overflow-y: auto;
// }

:root {

  // colors
  --logo-primary-rgb: 184, 107, 119;
  --logo-secondary-rgb: 250, 181, 186;
  --light1-rgb: 255, 216, 221;
  --light2-rgb: 255, 247, 248;
  --dark1-rgb: 128, 61, 72;
  --dark2-rgb: 69, 33, 39;

  --logo-primary: rgb(var(--logo-primary-rgb));     // #B86B77
  --logo-secondary: rgb(var(--logo-secondary-rgb)); // #FAB5BA
  --light1: rgb(var(--light1-rgb));                 // #FFD8DD
  --light2: rgb(var(--light2-rgb));                 // #FFF7F8
  --dark1: rgb(var(--dark1-rgb));                   // #803D48
  --dark2: rgb(var(--dark2-rgb));                   // #452127

  --text-dark: black;

  --success-green: #00853E;  /* must be used with bold white text to meet accessibility guidelines */
  --error-red:     #E40707;  /* must be used with bold white text to meet accessibility guidelines */
  --star-yellow:   #FAAD14;

  // font weights
  --font-weight-light:    300;
  --font-weight-regular:  400;
  --font-weight-medium:   500;
  --font-weight-semibold: 600;
  --font-weight-bold:     700;

  font-family: 'Montserrat', sans-serif;
}

span {
  display: inline-block;
}

a {
  color: var(--logo-primary);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}